.home {
  margin-top: 120px;
  width: 90%;
  height: 100%;
  padding: 10px 90px;

  background: rgba(255, 255, 255, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.40);
  border-radius: 20px;
  margin-left: 30px;
}

.header {
  color: #ff007f;
  font-size: 28px;
  margin-bottom: 50px;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.35);
  border: 1px solid rgba(255, 255, 255, 0.50);
  border-radius: 20px;
  padding: 15px;
  width: fit-content;
}

.firstpar {
  color: #303030;
  font-size: 20px;
  width: 70%;
  margin-bottom: 30px;
  background: rgba(255, 255, 255, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.40);
  border-radius: 20px;
  padding: 15px;
}

.secondpar {
  display: block;
  color: #303030;
  font-size: 20px;
  width: 70%;
  background: rgba(255, 255, 255, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.40);
  border-radius: 20px;
  padding: 15px;
}
